@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>

<CascadingValue Value="MessageForGrandChild" Name="message">
    <CascadingValue Value="@LuckyNumber" Name="luckyNumber">
    <_ChildComponent @ref="childComp" OnButtonClick="ShowMessage" Title="This title is passed as parameter from Parent Component">

        <ChildContent>Render fragment from parent! wooohooo!</ChildContent>
        <DangerChildContent>Danger Content from Render Fragment! Woohoo!</DangerChildContent>
    </_ChildComponent>
    </CascadingValue>
</CascadingValue>

<p><b>@messageText</b></p>
<_AnotherChildComponent placeholder="Placeholder from Parent"></_AnotherChildComponent>

<div class="row">
    <button class="btn btn-success" @onclick="() =>childComp.ToastrSuccess()">Show Sweet Alert</button>
</div>
@*<_ChildComponent Title="This is second child Component"></_ChildComponent>
*@
@code {
    private _ChildComponent childComp;

    public string MessageForGrandChild = "This message is from your parent (ParentComponent)";
    public string LuckyNumber = "7";
    public string messageText = "";

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";
    }

}
